.component {
  position: relative;
  background-color: #eee;

  & > .sticker {
    position: absolute;
    left: calc(var(--x) * 100vw - var(--x) * 200px);
    top: calc(var(--y) * 100vh - var(--x) * 200px);
    width: 200px;
    height: auto;
    touch-action: "none";
    user-select: "none";
  }
}

