.component {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr auto 1fr;

  & > .card {
    width: 300px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
}

.card {
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}
